h1 {
  color: olivedrab;
  text-transform: uppercase;

}

body {
  margin: 25px;

}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

nav {
  background-image: url('https://images.unsplash.com/photo-1597266029701-618ac066150a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

h3 {
  color: olivedrab;
  margin-top: 30px;
}

h2 {
  color: olivedrab;
  background-image: url('https://images.unsplash.com/photo-1597266029701-618ac066150a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

section {
  display: flex;
  margin: 25px;
  align-items: center;
  justify-content: center;
}

a {
  color: darkgreen
}

a:hover {
  color: rgb(205, 123, 23);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(.7) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}



